
.main-box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    margin: 5px;
}

#wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}