body {
    /* background-color: rgba(255, 102, 0, .9); */
    box-sizing: border-box;
    background-color: #0072ff;
}

#container {
    width: 80%;
    margin: 0 auto;
}
#header {
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    font-family: "Verdana";
    color: white;
    font-size: 50px;
    font-weight: 100;
}

input{
    color:white;
    font: 20px Arial, Helvetica, sans-serif;
    padding-left: 20px;
    border: 1px solid white;
}

input::placeholder {
    color: white;
    font-size: 20px;
}
input:focus {
    outline: none;
}
ul {
    padding: 0;
    list-style-type: none;
}
#input-text {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    background-color: #0072ff;
}
.todo-li {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    color: #0072ff;
    /* padding: 10px; */
    width: 300px;
    height: 50px;
}
.li-content {
    font-weight: 600;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 20px;
}
.li-content.over {
    border: 2px dashed #000;
} */
