
#input-list {
    display: block;
}

.div-input, .div-task-input {
    font-size: 15px;
    color: black
}

.task-li {
    font-size: 20px;
    color: black;
    border-bottom: 1px black solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-section {
    display: inline-block;
    vertical-align: top;
    /* font-size: 30px; */
    color: black;
    border: 1px solid orange;
}